/* background */
body {
    background-color: black;
    text-align: center; 
    font-family: "Times New Roman";
}

/* my name */
h1 {
    color: white;
    font-size: 130px;
    position: relative;
    margin: 0;
    top: 280px;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* the description */
h4 { 
    color: white;
    margin: 0px;
    position: relative;
    top: 230px;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* naviagation bar */
h3 {
    color: white;
}

* {
  box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #ff69b4;
  font-size: 20px;
}